* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #cae8d5;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(25% - 10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    perspective: 1000px;

}

.back-face{
    background-color: aqua;
    /*transform: rotateY(180deg);*/
}

.front-face{
    background-color: yellow;
    transform: rotateY(180deg);
}


.back-face, .front-face {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: absolute;
    border-radius: 5px;
    backface-visibility: hidden;
    transition: 1s;
}

.memory-card:hover .front-face{
    transform: rotateY(360deg);
}

.memory-card:hover .back-face{
    transform: rotateY(180deg);
}
